@page "/greenhouses"
@using MongoFramework.Linq
<RadzenFieldset style="margin: 20px 0;" Text="Добавить теплицу">
    <div style="display: flex; flex-direction: column"></div>
    <div class="block_data" style="display: flex; flex-direction: row;">
        <RadzenLabel style="padding: 8px 10px 10px 0;" Text="Номер" />
        <RadzenNumeric Min="0" Placeholder="Номер" @bind-Value="_model.Number"/>
    </div>
    
    <div class="block_data" style="display: flex; flex-direction: row;">
        <RadzenLabel style="padding: 8px 10px 10px 0;" Text="Адрес" />
        <RadzenTextBox Placeholder="Адрес" @bind-Value="_model.Street"/>
    </div>
    
    <div class="block_data" style="display: flex; flex-direction: row;">
        <RadzenLabel style="padding: 8px 10px 10px 0;" Text="Температура" />
        <RadzenNumeric TValue="float" Step="0.1" Placeholder="Температура" @bind-Value="_model.Temperature"/>
    </div>
    
    <div class="block_data" style="display: flex; flex-direction: row;">
        <RadzenLabel style="padding: 8px 10px 10px 0;" Text="Степень освещённости" />
        <RadzenNumeric TValue="float" Step="0.1" Placeholder="Степень освещённости" @bind-Value="_model.IlluminationDegree"/>
    </div>
    
    <div class="block_data" style="display: flex; flex-direction: row;">
        <RadzenLabel style="padding: 8px 10px 10px 0;" Text="Статус" />
        <RadzenDropDown TValue="GreenhouseStatus" @bind-Value="_model.Status" Placeholder="Статус"
                        Data="Enum.GetValues(typeof(GreenhouseStatus)).Cast<GreenhouseStatus>().ToDictionary(t => t.ToString(), t => t)"
                        TextProperty="Key"
                        ValueProperty="Value"/>
    </div>
    
    <div class="block_data" style="display: flex; flex-direction: row;">
        <RadzenLabel style="padding: 8px 10px 10px 0;" Text="Дополнительно" />
        <RadzenTextArea Placeholder="Дополнительно" @bind-Value="_model.AdditionalInfo"/>
    </div>
    
    <RadzenButton Click="@AddData" Text="Добавить" Style="width:200px; padding: 10px; margin: 10px 0" ButtonStyle="ButtonStyle.Primary" />
    
</RadzenFieldset>

<RadzenDataGrid @ref="@_grid" Data="@_data" Count="@_count" TItem="Greenhouse" IsLoading="_isLoading"
                Style="width: 90vw;" AllowColumnResize AllowFiltering AllowPaging ColumnWidth="300px" AllowSorting PageSize="5">
    <Columns>
         <RadzenDataGridColumn  Width="100px" Frozen TItem="Greenhouse" Title="Действия">
            <Template Context="greenhouse">
                <RadzenButton Click="@(_ => EditGreenhouse(greenhouse))" Icon="build" ButtonStyle="ButtonStyle.Secondary"/>
                <RadzenButton Click="@(_ => DeleteGreenhouse(greenhouse))" Icon="highlight_off" ButtonStyle="ButtonStyle.Danger"/>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Frozen Width="50px" TItem="Greenhouse" Property="Id" Title="ID"/>
        <RadzenDataGridColumn Frozen Width="50px" TItem="Greenhouse" Property="Number" Title="Номер"/>
        <RadzenDataGridColumn Width="200px" TItem="Greenhouse" Property="Street" Title="Адрес"/>
        <RadzenDataGridColumn Width="200px" TItem="Greenhouse" Title="Команды с доступом">
            <Template Context="greenhouse">
                @string.Join(", ", greenhouse.TeamIds ?? new())
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Width="150px" TItem="Greenhouse" Property="Temperature" Title="Температура"/>
        <RadzenDataGridColumn Width="150px" TItem="Greenhouse" Property="IlluminationDegree" Title="Освещённость"/>
        <RadzenDataGridColumn Width="300px" TItem="Greenhouse" Property="AdditionalInfo" Title="Дополнительно"/>
        <RadzenDataGridColumn Width="150px" TItem="Greenhouse" Property="Status" Title="Статус"/>
        <RadzenDataGridColumn Width="200px" TItem="Greenhouse" Title="Высажено">
            <Template Context="greenhouse">
                @if (greenhouse.Plants is {} plants && plants.Any())
                {
                    @foreach (var plant in plants)
                    {
                        <p> Тип: @plant.Type </p>
                        <p> Сорт: @plant.Sort </p>
                        <p> Количество: @plant.Count </p>
                    }
                }
                else
                {
                    <p>Ничего не высажено</p>
                }
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>    





@code{
    [Inject] ApplicationMongoContext MongoContext { get; set; }
    [Inject] DialogService DialogService { get; set; }
    
    private Greenhouse _model = new();
    private List<Greenhouse> _data = new();
    private int _count;
    private RadzenDataGrid<Greenhouse> _grid;
    private bool _isLoading;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await UpdateGridAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await _grid.Reload();
    }
    
    private async Task AddData()
    {
        _model.Plants = new();
        _model.TeamIds = new();
        MongoContext.Greenhouses.Add(_model);
        await MongoContext.SaveChangesAsync();
        _model = new();
        await UpdateGridAsync();
    }
    
    private async Task DeleteGreenhouse(Greenhouse item)
    {
        MongoContext.Greenhouses.Remove(item);
        await MongoContext.SaveChangesAsync();
        await UpdateGridAsync();
    }

    private async Task EditGreenhouse(Greenhouse model)
    {        
        DialogService.OnClose += EditClose;
        await DialogService.OpenAsync<EditGreenhouseDialog>("Редактировать",
            new Dictionary<string, object> { { "Greenhouse", model } });
    }

    private void EditClose(object? obj)
    {
        DialogService.OnClose -= EditClose;
        if (obj is null) return;
        UpdateGridAsync();
    }
    
    private async Task UpdateGridAsync()
    {
        _isLoading = true;
        _data = await MongoContext.Greenhouses.AsNoTracking().ToListAsync();
        _count = _data.Count;
        _isLoading = false;
        await _grid.Reload();
    }
}
