@page "/"
@using MongoFramework;
@using SmartFarm.Web.Data
@inject ApplicationMongoContext MongoContext

<input placeholder="Имя..." @bind-value="@Model.Name"/>
<input placeholder="Описание..." @bind-value="@Model.Description" />
<button @onclick=AddData type="submit">Добавить</button>
@if (data.Count() > 0)
{
    <table>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Описание</th>
        </tr>
        @foreach(TestModel dataItem in data)
        {
            <tr>
                <td>@dataItem.Id</td>
                <td>@dataItem.Name</td>
                <td>@dataItem.Description</td>
            </tr>
        }
    </table>
}

@code{
    private TestModel Model = new();

    private List<TestModel> data = new();

    private async void AddData()
    {
        MongoContext.TestModels.Add(Model);
        await MongoContext.SaveChangesAsync();
        Model = new();
        data = MongoContext.TestModels.ToList();
        StateHasChanged();
    }

}
